.orange-text {
    color: #FF8B00;
}

.violet-text {
    color: #5C2D91;
}

.grey-text {
    color: #808080;
}

.title-h1 {
    text-align: center;
}

.CaptianHealthPackage {
    background-color: #FFF7ED;
    height: 35rem;
    padding: 2rem 15rem 2rem 15rem;
    text-align: center;
    font-size: larger;

}

.violet-textbox-price {
    background-color: #5C2D91;
    color: white;
    border-radius: 4%;
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: medium;
    border-radius: 8px; 

}

.orange-textbox-price {
    background-color: #FF8B00;
    color: white;
    border-radius: 4%;
    display: flex;
    margin-left: 2rem;
    justify-content: center;
    padding: 1rem;
    font-size:medium;
    border-radius: 8px; 
}

.health-package-flex {
    display: flex;
}

.price-text {
    font-size:xx-large;
    font-weight:bolder;
    padding-left:1rem;

}

.line-through {
    text-decoration: line-through;

}

.plain-text {
    text-align: center;
    font-size: 1.7rem;
    padding: 4rem;
}

.shield-image {
    height: 6rem;
    width: 8rem;
    z-index: 1;
    margin-top: 1rem;
    margin-left: 5rem;
}

.textboxes {
    justify-content: center;
}

.orange-block {
    background-image: url("../../assets/images/orange-curved-bg.png");
    padding: 3rem;
    margin-left: -4.2rem;
    border-radius: 0% 20% 0% 0% ;

}

.tick-image{
    height: 2rem;
    margin-top: 0.5rem;
}

.button-text{
    color: white;
    font-size: large;
    margin-left: 1rem;
}

.bullet-point{
    line-height: 20%;
    margin-left:2rem;
}


.right-bullets{
    margin-left: 2rem;
}

.dhoni-point-image{
    z-index: 1;
    height:22rem;
    margin-top:-2.5rem;
    margin-left: -3.5rem;
}

.add-button{
    background-color: #c59dd8;
    color: white;
    height: 5rem;
    width: 10rem;
    border-radius: 4%;
    display: flex;
    margin-left: 2rem;
    justify-content: center;
    padding: 1rem;
    font-size:larger;
    border-radius: 8px; 
}

.bullet-text{
    font-size:larger;
    color: white;
    padding-left: 0.25rem;
}