.fullbodypackage{
    background-color: #F9EFFF;
    height: 36.3rem;
    text-align: center;
    padding : 2rem 5rem 2rem 5rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    color:white;
    justify-content: center;
    width:90rem;
}

.orange-textbox{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Maven Pro, sans-serif;
    font-size: 1.90rem;
    padding: 1rem ; 
    color:white;
    background-color: #FF8B00 ;
}

.price-large{
    font-size: larger;
    color: white;
    text-align: center;

}
.price{
    width: 0rem;
}
.styled-block {
    position: absolute;
    top: 103rem;
    left: 20rem;
    background: linear-gradient(181.16deg, #391A5D 0.99%, #522983 99.01%);    
    border-top-left-radius: 40px;  
    border-top-right-radius: 40px; 
    padding: 2rem;
    gap:10rem; 
    margin-left: 4rem;

}

.orange-plus-image{
    height:5rem;
    width:5rem;
    margin-top:3.3rem;
    z-index: 2;
    margin-left:16rem;
}


.violet-plus-image{
    height:5rem;
    width:5rem;
    margin-left : -8rem;
    margin-top : 14rem;


}

.lady-doctor-image{
    height :23rem;
    margin-top:-1.3rem;
    width:10rem;
    margin-left:50rem;
    position: absolute;
}