.intro{
    height : 17rem;
    background: linear-gradient(90.92deg, #FFF3E5 0.51%, #D4B2FB 99.49%);
    padding: 2rem 10rem 2rem 10rem;
    display:flex;
    justify-content: space-around ;
    
}
.heading{
    font-family: Maven Pro;
    font-size: 40px;
    font-weight: 800;
    line-height: 58.28px;
    text-align: left;
    margin-top: 3rem;
    
    
}
.orange-title{
    color : #FF8B00; 
    margin-left: 8rem;
    font-size: 2.5rem;

}

.violet-title{
    color : #5C2D91; 
    font-size: 2.5rem;
}
.orange-button{
    background: linear-gradient(90.97deg, #F7941D 58.96%, rgba(255, 173, 75, 0.86) 98.25%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px; 
    font-family: Maven Pro, sans-serif;
    font-size: 1.90rem;
    padding: 1rem 2rem; 
    color:white;
    text-decoration: none; 
    margin-left: 8rem;
}


.violet-button {
    background: linear-gradient(92.91deg, rgba(92, 45, 145, 0.9) 0.84%, rgba(169, 101, 214, 0.9) 97.64%);
    display: flex;
    align-items: center; 
    justify-content: center;
    border-radius: 8px; 
    font-family: Maven Pro, sans-serif;
    font-size: 1.90rem; 
    padding: 1rem 2rem; 
    color: white; 
    text-decoration: none;
    margin-left: 3rem;
}


.dhoni-intro-image{
    height : 21rem;
    width: 17rem;
    margin-top:-2rem;
}
.flex{
    display:flex;
    justify-content:center;
}
.callImg{
    height: 2rem;
}



